/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul , li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container img{
    max-width: 100%;
}

/* DEBUG */

.debug .container{
    margin: 0 auto;
    max-width: 700px;
}

 

.debug .link-list{
    border: 1px solid black; 
    padding: 10px;
}

.debug a{
    text-decoration: none;
    color: black;
}

.debug .logo{
    border: 1px solid black;
    padding: 10px;
}

.debug .login{
    padding: 10px;
    border: 1px solid black;
}



/* LAYOUT */

header{
    background-color: aqua;
}

.row{
    display: flex;
    padding: 10px;
    
    
}

.logo{
    width: 25%;
    
}

.link-list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    
}

.login{
    width: 25%;
}